@model DuLichVietNam.Models.TINTUC
@{
    ViewBag.Title = "ThemmoiTinTuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ThemmoiTour", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()
<section class="inner-banner-wrap">
    <div class="inner-baner-container" style="background-image: url('/Content/images/footer-bg.jpg'); background-size:initial">
        <div class="container">
            <div class="inner-banner-content">
                <h1 class="inner-title">THÊM MỚI TIN TỨC</h1>
            </div>
        </div>
    </div>
    <div class="inner-shape" style="background-image:url('/Content/images/slider-pattern.png');"></div>
</section>
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TenTT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenTT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenTT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <form method="post">
            <textarea id="mytextarea" name="mytextarea"></textarea>
        </form>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Anhbia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileupload" />
            @ViewBag.Thongbao
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm tin tức" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về Trang Quản Lý Tin Tức", "TinTuc")
</div>

